/* Login */
.login-body {
  height: 100vh;
  font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 100px 0 0 0;
  font-weight: normal;
  background: #f8f9fd;
  color: gray;
  line-height: 1.8; }

#login-wrapper {
  width: 400px;
  margin: 0 auto;
  text-align: center; }
  #login-wrapper #login-container {
    margin-top: 20px;
    box-sizing: border-box;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    text-align: center;
    color: #4f575b;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
    #login-wrapper #login-container .title {
      font-size: 20px;
      display: block;
      margin-bottom: 10px; }
    #login-wrapper #login-container a {
      color: #1f89ce;
      text-decoration: none;
      vertical-align: middle;
      font-size: 16px; }
    #login-wrapper #login-container .ui-inputtext, #login-wrapper #login-container .ui-password {
      color: #4f575b;
      margin: 0;
      outline: medium none;
      height: 52px;
      background: #ffffff;
      font-weight: normal;
      border-radius: 5px; }
    #login-wrapper #login-container .p-col-12, #login-wrapper #login-container .p-col-6 {
      padding: .8em; }
    #login-wrapper #login-container .ui-button {
      border-radius: 3px;
      border: 1px solid #2399e5;
      color: #FFFFFF;
      background: #2399e5;
      font-size: 16px;
      height: 52px;
      border-radius: 5px; }
      #login-wrapper #login-container .ui-button:hover {
        background: #1f89ce; }
      #login-wrapper #login-container .ui-button:focus {
        outline: 0 none;
        background: #186ba0; }
  #login-wrapper .login-footer {
    color: #4f575b;
    margin-top: 50px; }

@media (max-width: 40em) {
  .login-body {
    padding-top: 50px; }

  #login-wrapper {
    width: 400px; }
    #login-wrapper #login-container {
      height: 450px; } }
/* Login */
.register-body {
  height: 100vh;
  font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px 0 0 0;
  font-weight: normal;
  background: #f8f9fd;
  color: gray;
  line-height: 1.8; }

#register-wrapper {
  width: 660px;
  margin: 0 auto;
  text-align: center; }
  #register-wrapper #register-container {
    margin: 20px 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    text-align: center;
    color: #4f575b;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
    #register-wrapper #register-container .title {
      font-size: 32px;
      display: block;
      margin-bottom: 35px; }
    #register-wrapper #register-container a {
      color: #1f89ce;
      text-decoration: none;
      vertical-align: middle;
      font-size: 16px; }
    #register-wrapper #register-container .ui-inputtext, #register-wrapper #register-container .ui-password, #register-wrapper #register-container .ui-inputmask {
      color: #4f575b;
      margin: 0;
      outline: medium none;
      height: 52px;
      background: #ffffff;
      font-weight: normal;
      border-radius: 5px; }
    #register-wrapper #register-container .p-col-12, #register-wrapper #register-container .p-col-6 {
      padding: .8em; }
    #register-wrapper #register-container .ui-button {
      border-radius: 3px;
      border: 1px solid #2399e5;
      color: #FFFFFF;
      background: #2399e5;
      font-size: 16px;
      height: 52px;
      border-radius: 5px; }
      #register-wrapper #register-container .ui-button:hover {
        background: #1f89ce; }
      #register-wrapper #register-container .ui-button:focus {
        outline: 0 none;
        background: #186ba0; }

@media (max-width: 40em) {
  .register-body {
    padding-top: 50px; }

  #register-wrapper {
    width: 400px; }
    #register-wrapper #gesiter-container {
      height: 660px; } }

/*# sourceMappingURL=layout.css.map */
